.header {
color:#3300FF;
}
body {
background-color: #F6FF68;
}
.grid {
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
.footer {
display:flex;
justify-content: flex-end;
}
p{
font-family: Arial, Helvetica, sans-serif;
font-size: medium;
color:#3D4FFF;
}
h2{
color:#FF3300;
}